RACK_ENV="development"
GITHUB_URL="https://github.com/CoralineAda/alice"
ISSUES_URL="https://github.com/CoralineAda/alice/issues"
ALPHA_APP_KEY=xxx
ALPHA_ENABLED=true
BOT_NAME=alice
BOT_SHORT_NAME=alice
BREWERY_DB_TOKEN=xxx
DB_HOST=localhost
DB_PASS=foo
DB_USER=alice
GOOGLE_CLOUD_KEYFILE="./google_language_api.json"
GOOGLE_CLOUD_PROJECT=xxx
OPS=coraline
YUMMLY_APP_ID=xxx
YUMMLY_APP_KEY=xxx
INCOMING_WEBHOOK=https://hooks.slack.com/services/xxx
API_TOKEN=xxx
SLACK_API_TOKEN=xxx
